.feedback-form {

  margin: 0 auto;
  padding: 20px;
  border: 1px solid #060505;
  border-radius: 20px;
  background-color: #f2e7e7;
  box-shadow: 0 0 10px rgba(22, 0, 54, 0.05);
}

.question {
  font-weight: 500;
}

.stars {
  display: flex;
  gap: 8px;
}

.input-with-icon {
  position: relative;
}

.input-with-icon .form-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #f7e3e3;
}

.input-with-icon input {
  padding-left: 35px;
}
